{% load static %}
{% load markdown_extras %}
<section class="p-contents-detail">
  <div class="p-contents-detail__wrapper l-wrapper">
    <article class="c-contents-detail">
      <div class="c-contents-detail__wrapper">
        {% if not information.draft or user.is_authenticated %}
        <div class="c-contents-detail__top">
          <div class="c-contents-detail__data-container">
            <time datetime="{{ object.created_at|date:'Y-n-j' }}" class="c-contents-detail__date">{{ object.created_at|date:'Y/n/j' }}</time>
            <div class="c-contents-detail__category-inner">
              {% for tag in information.tags.all %}
                  <span class="c-information-article__category-tag">#{{ tag.name }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="c-contents-detail__middle">
          <div class="c-contents-detail__title-inner">
            <h2 class="c-contents-detail__title">
              {{ information.title }}
            </h2>
          </div>
        </div>
        <div class="c-contents-detail__bottom">
          <div class="c-contents-detail__contents">    
              {{ information.content | markdown | safe }}
          </div>
        </div>
      </div>
    </article>
    {% else %}
    <div class="c-contents-detail__bottom">
      <div class="c-contents-detail__message">
        <p>閲覧権限がありません。</p>
        <a href="" class="c-contents-detail__link">前の画面に戻る</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>
