@charset "UTF-8";
/*
  Reset
----------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input,
button,
select,
textarea {
  font: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  resize: vertical;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
}

body {
  height: 100%;
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  font-weight: normal;
  font-feature-settings: "pkna";
  color: #323232;
  background-color: #fff;
  text-rendering: optimizelegibility;
}
body.is-drawerActive {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

p:lang(en) {
  text-transform: uppercase;
}

.l-wrapper {
  max-width: 1200px;
  height: 100%;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.l-section {
  margin-top: 56px;
}
.l-section section:nth-of-type(odd) {
  background-color: #f1f5f9;
}

.l-container {
  max-width: 992px;
  padding: 0 1rem;
  margin-right: auto;
  margin-left: auto;
}

.l-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.l-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-header__title-link {
  display: block;
  height: 100%;
}
.l-header__logo-inner {
  display: block;
  width: 160px;
}
.l-header__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-header-nav__container {
  position: fixed;
  right: -1110px;
  z-index: 3;
  width: 100vw;
  height: calc(100vh - 60px);
  padding: 2rem;
  background: #f1f5f9;
  transition: 0.6s;
}
.l-header-nav__item {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}
.l-header-nav__item:nth-last-child(2) {
  margin-right: 0;
}
.l-header-nav__link {
  position: relative;
  font-weight: 300;
  line-height: 1.2;
  color: #323232;
  font-size: 18px;
  font-size: 1.125rem;
}
.l-header-nav .c-button {
  padding: 16px 21px;
  color: #fff;
  background: #0c3898;
  border-radius: 6px;
  font-size: 21px;
  font-size: 1.3125rem;
}

#menu {
  opacity: 0;
}
#menu:checked ~ .l-header-nav__container {
  right: 0;
}
#menu:checked ~ .l-hamburger-button .l-hamburger-button__label .l-hamburger-button__border {
  background-color: transparent;
  transform: rotate(180deg);
}
#menu:checked ~ .l-hamburger-button .l-hamburger-button__label .l-hamburger-button__border::before {
  top: 0;
  transform: rotate(45deg);
}
#menu:checked ~ .l-hamburger-button .l-hamburger-button__label .l-hamburger-button__border::after {
  top: 0;
  transform: rotate(-45deg);
}

.l-hamburger-button {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #0c3898;
}
.l-hamburger-button__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.l-hamburger-button__border {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 50px;
  transition: 0.4s;
}
.l-hamburger-button__border::before, .l-hamburger-button__border::after {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #fff;
  border-radius: 50px;
  transition: 0.4s;
}
.l-hamburger-button__border::before {
  top: -8px;
}
.l-hamburger-button__border::after {
  top: 8px;
}

.l-footer {
  width: 100%;
  background: #fff;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
}
.l-footer__wrapper {
  padding-top: 8px;
}
.l-footer__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 16px;
}
.l-footer__title-link {
  display: block;
  height: 100%;
}
.l-footer__logo-inner {
  display: inline-block;
  height: 40px;
}
.l-footer__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.l-footer__column {
  margin-top: 14px;
  margin-right: 25px;
}
.l-footer__column:first-child {
  margin-right: 16px;
}
.l-footer__column:last-child {
  margin-top: 29px;
}
.l-footer__link {
  font-weight: 300;
  line-height: 1.2;
  color: #323232;
  letter-spacing: 0.0145em;
  font-size: 16px;
  font-size: 1rem;
}
.l-footer__link:hover {
  opacity: 0.5;
}
.l-footer__button-inner {
  text-align: center;
}
.l-footer__bottom {
  margin-top: 43px;
}

.l-main {
  padding-top: 90px;
  overflow: hidden;
}

.l-breadcrumb__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
}
.l-breadcrumb__item {
  margin-top: 0.5rem;
  margin-right: 14px;
  font-weight: 300;
  color: #323232;
  font-size: 16px;
  font-size: 1rem;
}
.l-breadcrumb__item:first-child::before {
  margin-right: 5px;
  content: url("/static/assets/images/home.svg");
}
.l-breadcrumb__item::after {
  margin-left: 4px;
  color: #0c3898;
  content: ">";
}
.l-breadcrumb__item:last-child::after {
  margin-left: 0;
  content: "";
}
.l-breadcrumb__link {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 400;
  color: #0c3898;
}
.l-breadcrumb__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  opacity: 0.5;
}

.l-page-first {
  margin-top: 56px;
}
.l-page-first__wrapper {
  padding: 0 1rem;
  text-align: center;
  background: #fff;
}

.l-request {
  margin-top: 61px;
  background: #f7faff;
}
.l-request__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
.l-request__container {
  padding-top: 59px;
  padding-bottom: 79px;
  background: #fff;
  border-radius: 16px;
}
.l-request__text {
  font-size: 20px;
  font-weight: 500;
  color: #0c3898;
  text-align: center;
}
.l-request__button-inner {
  margin-top: 40px;
  text-align: center;
}

.c-page-title {
  position: relative;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.0145em;
}
.c-page-title::before {
  position: absolute;
  right: 0;
  bottom: -145px;
  font-family: Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: rgba(12, 56, 152, 0.05);
  letter-spacing: -0.0655em;
  content: attr(data-english-title);
}
.c-page-title::after {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 55px);
  display: inline-block;
  width: 110px;
  height: 1px;
  content: "";
  background-color: #0c3898;
}
.c-page-title__sub {
  margin-top: 29px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
}

.c-search-form {
  display: flex;
  align-items: center;
}
.c-search-form__keyword {
  width: 100%;
  padding: 20px;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 12px;
}
.c-search-form__keyword::-moz-placeholder {
  font-size: 20px;
  color: #c9c9c9;
}
.c-search-form__keyword::placeholder {
  font-size: 20px;
  color: #c9c9c9;
}
.c-search-form__keyword:focus {
  border: 2px solid #0c3898;
  outline: 0;
}
.c-search-form__submit-inner {
  display: inline-block;
  margin-left: 19px;
  vertical-align: middle;
}
.c-search-form__submit {
  padding: 10px;
  background: #0c3898;
  border-radius: 12px;
}
.c-search-form__submit:focus {
  border: 2px solid #ee7c00;
  outline: 0;
}

.c-section-title {
  font-size: 26px;
  font-size: 1.625rem;
  position: relative;
  font-weight: 600;
  letter-spacing: 0.0145em;
}
.c-section-title::before {
  display: block;
  margin-bottom: 13px;
  font-weight: 400;
  color: #0c3898;
  letter-spacing: 0.0145em;
  content: attr(data-english-title);
  font-size: 16px;
  font-size: 1rem;
}
.c-section-title::after {
  position: absolute;
  top: 71%;
  left: unset;
  display: inline-block;
  width: 715px;
  height: 1px;
  content: "";
  background-color: #0c3898;
}
.c-section-title__subtext {
  margin-top: 16px;
}

.c-section-heading {
  text-align: center;
}
.c-section-heading__title {
  font-size: 21px;
  font-weight: 600;
}
.c-section-heading__title::before {
  display: block;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: #0c3898;
  content: attr(data-english-title);
}

.c-request-form__items {
  margin-top: 20px;
  cursor: none;
}
.c-request-form__items:first-child {
  margin-top: 0;
}
.c-request-form__items:last-child {
  margin-top: 26px;
  text-align: center;
}
.c-request-form__text {
  display: block;
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
  cursor: auto;
}
.c-request-form__category-inner {
  position: relative;
  display: inline;
  margin-top: 11px;
}
.c-request-form__category-inner::after {
  position: absolute;
  top: 28px;
  right: -126px;
  display: inline-block;
  content: url("/static/assets/images/link-arrow.svg");
  transform: rotate(90deg);
}
.c-request-form__category {
  position: relative;
  display: block;
  padding: 11px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #0c3898;
  cursor: pointer;
  border: 1px solid #d9e7ff;
  border-radius: 4px;
}
.c-request-form__input {
  width: 100%;
  padding: 16px 12px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 6px;
}
.c-request-form__input::-moz-placeholder {
  font-size: 16px;
  color: #c9c9c9;
}
.c-request-form__input::placeholder {
  font-size: 16px;
  color: #c9c9c9;
}
.c-request-form__input-textarea {
  width: 100%;
  height: 18em;
  padding: 21px 18px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 6px;
}
.c-request-form__input-textarea::-moz-placeholder {
  font-size: 16px;
  color: #c9c9c9;
}
.c-request-form__input-textarea::placeholder {
  font-size: 16px;
  color: #c9c9c9;
}

.c-request-form__items {
  margin-top: 20px;
  cursor: none;
}
.c-request-form__items:first-child {
  margin-top: 0;
}
.c-request-form__items:last-child {
  margin-top: 26px;
  text-align: center;
}
.c-request-form__text {
  display: block;
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
  cursor: auto;
}
.c-request-form__category-inner {
  position: relative;
  display: inline;
  margin-top: 11px;
}
.c-request-form__category-inner::after {
  position: absolute;
  top: 28px;
  right: -126px;
  display: inline-block;
  content: url("/static/assets/images/link-arrow.svg");
  transform: rotate(90deg);
}
.c-request-form__category {
  position: relative;
  display: block;
  padding: 11px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #0c3898;
  cursor: pointer;
  border: 1px solid #d9e7ff;
  border-radius: 4px;
}
.c-request-form__input {
  width: 100%;
  padding: 16px 12px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 6px;
}
.c-request-form__input::-moz-placeholder {
  font-size: 16px;
  color: #c9c9c9;
}
.c-request-form__input::placeholder {
  font-size: 16px;
  color: #c9c9c9;
}
.c-request-form__input-textarea {
  width: 100%;
  height: 18em;
  padding: 21px 18px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 6px;
}
.c-request-form__input-textarea::-moz-placeholder {
  font-size: 16px;
  color: #c9c9c9;
}
.c-request-form__input-textarea::placeholder {
  font-size: 16px;
  color: #c9c9c9;
}

.c-post-card {
  padding: 18px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 19px;
}
.c-post-card__title {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.c-post-card__title::before {
  display: inline;
  content: attr(data-faq-title);
}
.c-post-card__title-link {
  color: #323232;
}
.c-post-card__bottom {
  display: flex;
  align-items: last baseline;
  justify-content: right;
  margin-top: 14px;
}
.c-post-card__rank {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
}
.c-post-card__date {
  margin-right: 32px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
  vertical-align: middle;
}
.c-post-card__category-tag {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 300;
  color: #0c3898;
  background: #f7faff;
  border: 1px solid #f7faff;
  border-radius: 5px;
}
.c-post-card__category-tag::before {
  color: #0c3898;
  content: "#";
}
.c-post-card__link {
  font-size: 14px;
  font-weight: 600;
  color: #0c3898;
  white-space: nowrap;
}
.c-post-card__link::after {
  display: inline-block;
  margin-left: 10px;
  vertical-align: text-top;
  content: url("/static/assets/images/link-arrow.svg");
}

.c-tools-card {
  width: 590px;
  padding: 18px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 19px;
}
.c-tools-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 21px;
}
.c-tools-card__title {
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  margin-top: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.c-tools-card__title::before {
  display: inline;
  content: attr(data-faq-title);
}
.c-tools-card__title-link {
  color: #323232;
}
.c-tools-card__help {
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  margin-top: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.c-tools-card__help::before {
  vertical-align: text-top;
  content: url("/static/assets/images/help.svg");
}
.c-tools-card__help-link {
  color: #323232;
  font-size: 14px;
  font-size: 0.875rem;
}
.c-tools-card__middle {
  padding-bottom: 21px;
}
.c-tools-card__text {
  font-size: 16px;
  font-size: 1rem;
}
.c-tools-card__middle-- .c-tools-card__bottom {
  display: flex;
  align-items: last baseline;
  justify-content: right;
  margin-top: 14px;
}
.c-tools-card__bottom {
  text-align: right;
}
.c-tools-card__bottom--link {
  font-size: 14px;
  font-size: 0.875rem;
  align-items: end;
  font-weight: 600;
  color: #0c3898;
  white-space: nowrap;
}
.c-tools-card__bottom--link::after {
  display: inline-block;
  margin-left: 10px;
  vertical-align: text-top;
  content: url("/static/assets/images/link-arrow.svg");
}

.c-contents-card {
  padding: 25px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 19px;
}
.c-contents-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.c-contents-card__title::before {
  display: inline;
  content: attr(data-faq-title);
}
.c-contents-card__title-link {
  color: #323232;
}
.c-contents-card__middle {
  margin-top: 8px;
}
.c-contents-card__category-tag {
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #0c3898;
  background: #f7faff;
  border: 1px solid #f7faff;
  border-radius: 5px;
}
.c-contents-card__bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
}
.c-contents-card__like-number {
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #0c3898;
}
.c-contents-card__like-text {
  margin-right: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #323232;
}
.c-contents-card__like {
  vertical-align: sub;
}
.c-contents-card__like img {
  width: 89%;
}
.c-contents-card__rank {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
}
.c-contents-card__date {
  margin-right: 32px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
}
.c-contents-card__link {
  font-size: 14px;
  font-weight: 600;
  color: #0c3898;
}
.c-contents-card__link::after {
  display: inline-block;
  margin-left: 10px;
  vertical-align: text-top;
  content: url("/static/assets/images/link-arrow.svg");
}

.c-comments-card {
  padding-top: 21px;
  padding-bottom: 21px;
}
.c-comments-card__top {
  display: flex;
  align-items: center;
}
.c-comments-card__icon-inner {
  width: 66px;
  height: auto;
  margin-right: 16px;
}
.c-comments-card__icon {
  width: 100%;
  height: 100%;
}
.c-comments-card__name {
  font-size: 16px;
  font-weight: 300;
}
.c-comments-card__date {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
}
.c-comments-card__middle {
  padding-left: 82px;
  margin-top: 21px;
}
.c-comments-card__contents {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.0145em;
}
.c-comments-card__bottom {
  padding-left: 82px;
  margin-top: 21px;
}
.c-comments-card__link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #0c3898;
}
.c-comments-card__link::after {
  position: absolute;
  top: 1px;
  right: -20px;
  content: url("/static/assets/images/link-arrow.svg");
}

.c-tab-navigation {
  margin-top: 30px;
}
.c-tab-navigation__navigation {
  margin-top: 12px;
}
.c-tab-navigation__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0c3898;
}
.c-tab-navigation__item {
  padding: 8px 16px;
  margin-right: 12px;
  margin-bottom: -1px;
  font-weight: bold;
  color: #0c3898;
  text-align: center;
  list-style: none;
  cursor: pointer;
  border: solid 1px #0c3898;
  border-radius: 5px 5px 0 0;
}
.c-tab-navigation__item.is-active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.2s ease-out;
}
.c-tab-navigation__tab-panel {
  display: none;
}
.c-tab-navigation__tab-panel.is-show {
  display: block;
}
.c-tab-navigation__list {
  padding-top: 36px;
  padding-bottom: 72px;
  margin-top: -1px;
  border-top: 1px solid #0c3898;
}
.c-tab-navigation__column {
  margin-bottom: 21px;
}
.c-tab-navigation__column:last-child {
  margin-bottom: 0;
}

.p-contents-detail {
  padding-top: 28px;
  padding-bottom: 56px;
  margin-top: 29px;
  background: #f7faff;
}
.p-contents-detail__wrapper {
  padding: 0 1rem;
}

.c-contents-detail {
  padding: 8px 20px 18px;
  margin-top: 14px;
  background: #fff;
  border-radius: 19px;
  box-shadow: 0 0 10px #d9e7ff;
}
.c-contents-detail.no-shadow {
  box-shadow: none;
}
.c-contents-detail__wrapper {
  max-width: 993px;
  padding-top: 21px;
  margin-right: auto;
  margin-left: auto;
}
.c-contents-detail__wrapper--no-shadow {
  padding: 48px 103px;
  background: #fff;
  border-radius: 19px;
}
.c-contents-detail__data-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.c-contents-detail__rank {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
  letter-spacing: 0.0145em;
}
.c-contents-detail__date {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 300;
  color: #323232;
  letter-spacing: 0.1em;
}
.c-contents-detail__category-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  margin-top: 0.5rem;
}
.c-contents-detail__category-tag {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 300;
  color: #0c3898;
  letter-spacing: 0.0145em;
  background: #f7faff;
  border: 1px solid #f7faff;
  border-radius: 5px;
}
.c-contents-detail__middle {
  margin-top: 10px;
}
.c-contents-detail__subtitle-question-inner {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #0c3898;
}
.c-contents-detail__subtitle-question-inner::after {
  font-size: 70px;
  font-weight: 700;
  color: rgba(12, 56, 152, 0.05);
  content: attr(data-english-title);
}
.c-contents-detail__subtitle-answer-inner {
  padding-bottom: 0.5rem;
}
.c-contents-detail__subtitle-answer-inner::after {
  font-size: 70px;
  font-weight: 700;
  color: #fef8f7;
  content: attr(data-english-title);
}
.c-contents-detail__subtitle {
  display: inline;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.c-contents-detail__subtitle-question {
  background: #0c3898;
}
.c-contents-detail__subtitle-answer {
  background: #f1795e;
}
.c-contents-detail__title-inner {
  padding-bottom: 16px;
  margin-top: 23px;
  border-bottom: 1px solid #0c3898;
}
.c-contents-detail__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: #323232;
  letter-spacing: 0.0145em;
}
.c-contents-detail__bottom {
  margin-top: 8px;
}
.c-contents-detail__contents {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.5;
  color: #323232;
  letter-spacing: 0.0145em;
}
.c-contents-detail__contents h1 {
  font-size: 24px;
  font-weight: 600;
  color: #f38a72;
  letter-spacing: 0.0145em;
}
.c-contents-detail__contents h2 {
  padding-top: 24px;
  padding-bottom: 6px;
  margin-bottom: 0.5rem;
  font-size: 19px;
  font-weight: 600;
  color: #0c3898;
  letter-spacing: 0.0145em;
  border-bottom: 1px solid #0c3898;
}
.c-contents-detail__contents h3 {
  padding-top: 36px;
  padding-bottom: 16px;
  font-size: 21px;
  font-weight: 300;
  color: #0c3898;
  letter-spacing: 0.0145em;
  border-bottom: double #0c3898;
}
.c-contents-detail__contents h4 {
  padding-top: 36px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 300;
  color: #0c3898;
  letter-spacing: 0.0145em;
}
.c-contents-detail__contents .athJax {
  margin: 0;
  text-align: left;
}
.c-contents-detail__contents img {
  margin-top: 16px;
}
.c-contents-detail__contents pre {
  padding: 26px;
  margin: 16px 0;
  overflow: auto;
  line-height: 1;
  color: #fff;
  background: #191919;
  border-radius: 25px;
}
.c-contents-detail__contents code {
  margin: 0;
  font-family: Menlo, Monaco, "Lucida Console", Consolas, monospace;
  font-size: 65%;
}
.c-contents-detail__contents pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.c-contents-detail__contents p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  color: #323232;
  letter-spacing: 0.9px;
}
.c-contents-detail__contents br {
  margin-bottom: 0.3rem;
}
.c-contents-detail__answer {
  padding: 21px 27px;
  background: #fef8f7;
  border-radius: 19px;
}
.c-contents-detail__answer p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  color: #323232;
}
.c-contents-detail__like-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.c-contents-detail__button-inner {
  margin-right: 58px;
  text-align: center;
}
.c-contents-detail__button {
  position: relative;
  display: block;
  width: 85px;
  height: 85px;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px #d9e7ff;
}
.c-contents-detail__button-text {
  font-size: 14px;
  font-weight: 600;
  color: #323232;
}
.c-contents-detail__like-number {
  position: absolute;
  top: 34%;
  left: 19%;
  font-size: 31px;
  font-weight: 700;
  color: #0c3898;
}
.c-contents-detail__good-icon {
  content: url("/static/assets/images/good.svg");
}
.c-contents-detail__bookmark-icon {
  content: url("/static/assets/images/bookmark-pin.svg");
}
.c-contents-detail__column {
  border-top: 3px solid #d3ebe8;
}
.c-contents-detail__column:first-child {
  border-top: 0;
}
.c-contents-detail__message {
  text-align: center;
}
.c-contents-detail__link {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #0c3898;
  white-space: nowrap;
}

.c-faq-detail__subtitle-question-inner {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #0c3898;
}
.c-faq-detail__subtitle-question-inner::after {
  font-size: 34px;
  font-weight: 700;
  color: rgba(12, 56, 152, 0.05);
  content: attr(data-english-title);
}
.c-faq-detail__subtitle-answer-inner {
  padding-bottom: 0.5rem;
}
.c-faq-detail__subtitle-answer-inner::after {
  font-size: 34px;
  font-weight: 700;
  color: #fef8f7;
  content: attr(data-english-title);
}
.c-faq-detail__subtitle {
  display: inline;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.c-faq-detail__subtitle-question {
  background: #0c3898;
}
.c-faq-detail__subtitle-answer {
  background: #f1795e;
}
.c-faq-detail__title-inner {
  margin-top: 23px;
}
.c-faq-detail__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #0c3898;
  letter-spacing: 0.0145em;
}
.c-faq-detail__answer {
  padding: 21px 16px;
  background: #fef8f7;
  border-radius: 19px;
}
.c-faq-detail__answer h1 {
  font-size: 24px;
  font-weight: 600;
  color: #f38a72;
  letter-spacing: 0.0145em;
}
.c-faq-detail__answer h2 {
  padding-top: 24px;
  padding-bottom: 6px;
  margin-bottom: 0.5rem;
  font-size: 19px;
  font-weight: 600;
  color: #f1795e;
  letter-spacing: 0.0145em;
  border-bottom: 1px solid #f1795e;
}
.c-faq-detail__answer h3 {
  padding-top: 36px;
  padding-bottom: 16px;
  font-size: 21px;
  font-weight: 300;
  color: #f1795e;
  letter-spacing: 0.0145em;
  border-bottom: double #f1795e;
}
.c-faq-detail__answer h4 {
  padding-top: 36px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 300;
  color: #f1795e;
  letter-spacing: 0.0145em;
}
.c-faq-detail__answer p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #323232;
}
.c-faq-detail__like-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.c-faq-detail__button-inner {
  margin-right: 58px;
  text-align: center;
}
.c-faq-detail__button {
  position: relative;
  display: block;
  width: 85px;
  height: 85px;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px #d9e7ff;
}
.c-faq-detail__button-text {
  font-size: 14px;
  font-weight: 600;
  color: #323232;
}
.c-faq-detail__like-number {
  position: absolute;
  top: 34%;
  left: 19%;
  font-size: 31px;
  font-weight: 700;
  color: #0c3898;
}
.c-faq-detail__good-icon {
  content: url("/static/assets/images/good.svg");
}
.c-faq-detail__bookmark-icon {
  content: url("/static/assets/images/bookmark-pin.svg");
}

.c-category-tag {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.0145em;
  border-radius: 5px;
}
.c-category-tag__primary {
  background: #0c3898;
}
.c-category-tag__green {
  background: #61a5a2;
}
.c-category-tag__answer-primary {
  background: #f38a72;
}

.c-archive-pagination {
  display: flex;
  justify-content: center;
}
.c-archive-pagination__link {
  display: block;
  padding: 17px 20px;
  font-size: 21px;
  font-weight: 700;
  color: #0c3898;
}
.c-archive-pagination__link[aria-current=page] {
  color: #fff;
  background-color: #0c3898;
  border-radius: 6px;
}
.c-archive-pagination__item {
  margin-right: 14px;
}
.c-archive-pagination__item:last-child {
  margin-right: 0;
}
.c-archive-pagination__item:not(:first-of-type):not(:last-of-type) .c-archive-pagination__link:hover {
  color: #fff;
  background-color: #0c3898;
  border-radius: 6px;
}
.c-archive-pagination__text {
  position: relative;
  font-size: 21px;
  font-weight: 600;
  color: #0c3898;
}
.c-archive-pagination .previous::before {
  position: absolute;
  top: 3px;
  left: -20px;
  content: url("/static/assets/images/link-arrow.svg");
  transform: rotate(180deg);
}
.c-archive-pagination .previous:hover {
  opacity: 0.5;
}
.c-archive-pagination .next::after {
  position: absolute;
  top: 3px;
  right: -20px;
  content: url("/static/assets/images/link-arrow.svg");
}
.c-archive-pagination .next:hover {
  opacity: 0.5;
}

.c-primary-button {
  display: inline-block;
  padding: 12px 60px;
  font-size: 16px;
  font-weight: 500;
  color: #0c3898;
  background: #fff;
  border: 1px solid #0c3898;
  border-radius: 6px;
}
.c-primary-button--fill {
  display: inline-block;
  padding: 16px 22px 12px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #0c3898;
  border-radius: 6px;
}
.c-primary-button--fill::before {
  display: inline-block;
  margin-right: 17px;
  vertical-align: middle;
  content: url("/static/assets/images/mail.svg");
}

.c-repetition_keywords {
  margin-top: 20px;
}
.c-repetition_keywords__title {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 20px;
  font-weight: 400;
}
.c-repetition_keywords__item {
  display: inline-block;
  width: auto;
  margin-top: 18px;
  margin-right: 12px;
}
.c-repetition_keywords__link {
  padding: 7px 19px;
  font-weight: 300;
  line-height: 1.5;
  color: #0c3898;
  text-align: center;
  background: #fff;
  border: 1px solid #0c3898;
  border-radius: 50px;
  font-size: 16px;
  font-size: 1rem;
}
.c-repetition_keywords__link::before {
  display: inline-block;
  margin-right: 5px;
  content: attr(data-hash);
}

.c-category-card {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 16px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 19px;
}
.c-category-card:last-child::after {
  margin-bottom: 0;
  content: "";
}
.c-category-card__wrapper {
  max-width: 810px;
  margin: 0 auto;
}
.c-category-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: solid #000;
  -o-border-image: linear-gradient(to right bottom, #000, #c4c4c4);
     border-image: linear-gradient(to right bottom, #000, #c4c4c4);
  border-image-slice: 1;
  border-image-width: 0 0 1px 0;
}
.c-category-card__firstlayer-link {
  line-height: 1.5;
  font-size: 21px;
  font-size: 1.3125rem;
  color: #0c3898;
}
.c-category-card__secondlayer {
  margin-right: 14px;
  font-weight: 300;
  color: #323232;
  font-size: 16px;
  font-size: 1rem;
}
.c-category-card__container {
  margin-top: 16px;
}
.c-category-card__item {
  display: inline-block;
  width: auto;
  margin-top: 14px;
  margin-left: 14px;
}
.c-category-card__item::after {
  margin-left: 14px;
  color: #0c3898;
  content: ">";
}
.c-category-card__item:last-child::after {
  margin-left: 0;
  content: "";
}
.c-category-card__secondlayer-link {
  font-size: 17px;
  font-size: 1.0625rem;
}

.c-copyright__container {
  padding-bottom: 12px;
}
.c-copyright__text {
  font-size: 12px;
  font-size: 0.75rem;
}

.c-table-title {
  font-size: 24px;
  font-size: 1.5rem;
  padding: 38px;
  font-weight: 300;
  text-align: center;
}

.c-table {
  width: 100%;
}
.c-table__head {
  border-bottom: 1px solid #0c3898;
}
.c-table__head-title {
  font-size: 16px;
  font-size: 1rem;
  padding: 23px;
  font-weight: 600;
}
.c-table__body-row:nth-child(1n+1) {
  background-color: #f7faff;
}
.c-table__value {
  font-size: 20px;
  font-size: 1.25rem;
  padding: 16px;
  font-weight: 400;
  text-align: right;
}

.p-keyword-search {
  padding: 56px 0;
  margin-top: 56px;
  overflow: hidden;
  background: #f1f5f9;
}
.p-keyword-search__container {
  padding-top: 35px;
  padding-bottom: 10px;
}
.p-keyword-search__form-inner {
  margin-top: 16px;
}

.p-search-category {
  padding-top: 28px;
  padding-bottom: 60px;
}
.p-contents-list {
  padding-top: 28px;
}
.p-contents-list__list {
  padding-bottom: 60px;
}
.p-contents-list__container {
  padding-top: 35px;
  padding-bottom: 10px;
}
.p-contents-list__column {
  margin-top: 21px;
}
.p-contents-list__column:first-of-type {
  margin-top: 31px;
}
.p-contents-list__button-inner {
  margin: 46px 0;
  text-align: center;
}

.p-contents-detail__list {
  padding-bottom: 60px;
}
.p-contents-detail__container {
  padding-top: 35px;
}
.p-contents-detail__column {
  margin-top: 16px;
}
.p-contents-detail__button-inner {
  margin: 46px 0;
  text-align: center;
}

.p-archive-pagination {
  width: 100vw;
  padding: 57px 0;
  margin: 0 calc(50% - 50vw);
  margin-top: 31px;
}
.p-archive-pagination__wrapper {
  padding-top: 0.5em;
  margin-top: 1rem;
}

.p-faq-request {
  padding-top: 16px;
  padding-bottom: 50px;
  background: #f7faff;
}
.p-faq-request__wrapper {
  padding: 0 1rem;
}
.p-faq-request__container {
  padding: 48px 20px 28px;
  margin-top: 27px;
  background: #fff;
  border-radius: 19px;
  box-shadow: 0 0 10px #d9e7ff;
}
.p-faq-request__title-inner {
  text-align: center;
}
.p-faq-request__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #0c3898;
}
.p-faq-request__form-inner {
  margin-top: 40px;
}

.p-privacy-policy {
  margin-top: 3rem;
}
.p-privacy-policy h2 {
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 19px;
  font-weight: 600;
  color: #323232;
  border-bottom: 1px solid #0c3898;
}
.p-privacy-policy h3 {
  margin-top: 1rem;
}
.p-privacy-policy h4 {
  margin-top: 1rem;
}
.p-privacy-policy h5 {
  margin-top: 1rem;
}
.p-privacy-policy h6 {
  margin-top: 1rem;
}
.p-privacy-policy p {
  margin-top: 1rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.3px;
}
.p-privacy-policy ol {
  padding: 0 1rem;
  margin-top: 1rem;
  list-style-type: decimal;
}
.p-privacy-policy ol li {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.3px;
  list-style: unset;
}
.p-privacy-policy li {
  list-style: disc;
}

.p-post-comments {
  padding-bottom: 32px;
}
.p-post-comments__wrapper {
  max-width: 993px;
  padding-top: 21px;
  margin-right: auto;
  margin-left: auto;
}
.p-post-comments__inner {
  max-width: 858px;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.p-formula {
  padding: 56px 0;
  margin-top: 56px;
  overflow: hidden;
  background: #f1f5f9;
}
.p-formula__container {
  padding-top: 35px;
  padding-bottom: 10px;
}
.p-formula__form-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
.p-formula__form-items {
  align-self: baseline;
  width: 472px;
  margin-top: 20px;
  cursor: none;
}

.p-tools-list {
  padding-top: 28px;
}
.p-tools-list__list {
  padding-bottom: 60px;
}
.p-tools-list__container {
  padding-top: 35px;
  padding-bottom: 10px;
}
.p-tools-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.p-tools-list__column:last-of-type {
  margin-bottom: 32px;
}
.p-tools-list__button-inner {
  margin: 46px 0;
  text-align: center;
}

.p-tools-result {
  margin-top: 38px;
  margin-bottom: 65px;
}
.p-tools-result__wrapper {
  max-width: 993px;
}

.u-sm-newline::before {
  white-space: pre;
  content: "\a";
}

br {
  display: none;
}

.u-screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.mt-1 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-auto {
  margin-left: auto;
}

.u-text-left {
  display: block;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .l-container {
    padding: 0;
  }
  .l-header {
    position: unset;
    height: auto;
  }
  .l-header__wrapper {
    padding: 22px 0;
  }
  .l-header__logo-inner {
    height: 100%;
  }
  .l-header-nav__container {
    position: unset;
    right: unset;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
  }
  .l-header-nav__item {
    margin-top: 0;
    margin-right: 26px;
  }
  .l-header-nav__item:last-child {
    margin-right: 0;
    margin-left: 32px;
  }
  .l-header-nav__link::before {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 400;
    color: #323232;
    content: attr(data-english-title);
    font-size: 14px;
    font-size: 0.875rem;
  }
  #menu {
    display: none;
  }
  .l-hamburger-button {
    display: none;
  }
  .l-footer__wrapper {
    padding-top: 29px;
  }
  .l-footer__logo-inner {
    height: 100%;
  }
  .l-footer__column:first-child {
    margin-right: 64px;
  }
  .l-footer__column:last-child {
    margin-top: 69px;
    margin-left: auto;
  }
  .l-footer__item {
    margin-bottom: 14px;
  }
  .l-main {
    padding-top: 0;
    margin-top: 27px;
  }
  .l-breadcrumb__container {
    padding: 0;
  }
  .l-breadcrumb__item::after {
    margin-left: 14px;
  }
  .c-page-title::before {
    bottom: -160px;
    font-size: 170px;
  }
  .c-page-title__sub {
    font-size: 16px;
    font-size: 1rem;
  }
  .c-section-title::after {
    left: -73%;
  }
  .c-section-title__subtext {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .c-section-heading__title {
    font-size: 26px;
  }
  .c-request-form__items {
    margin-top: 26px;
  }
  .c-request-form__items:last-child {
    margin-top: 42px;
  }
  .c-request-form__text {
    font-size: 18px;
  }
  .c-request-form__input {
    padding: 21px 18px;
  }
  .c-request-form__input::-moz-placeholder {
    font-size: 20px;
  }
  .c-request-form__input::placeholder {
    font-size: 20px;
  }
  .c-request-form__input-textarea::-moz-placeholder {
    font-size: 20px;
  }
  .c-request-form__input-textarea::placeholder {
    font-size: 20px;
  }
  .c-request-form__items {
    margin-top: 26px;
  }
  .c-request-form__items:last-child {
    margin-top: 42px;
  }
  .c-request-form__text {
    font-size: 18px;
  }
  .c-request-form__input {
    padding: 21px 18px;
  }
  .c-request-form__input::-moz-placeholder {
    font-size: 20px;
  }
  .c-request-form__input::placeholder {
    font-size: 20px;
  }
  .c-request-form__input-textarea::-moz-placeholder {
    font-size: 20px;
  }
  .c-request-form__input-textarea::placeholder {
    font-size: 20px;
  }
  .c-post-card {
    padding: 25px;
  }
  .c-post-card__title {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .c-post-card__bottom {
    align-items: baseline;
    justify-content: space-between;
    margin-top: 24px;
  }
  .c-post-card__category-tag {
    font-size: 14px;
  }
  .c-post-card__link {
    white-space: unset;
  }
  .c-tools-card {
    padding: 25px;
  }
  .c-tools-card__title {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .c-tools-card__help {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .c-tools-card__middle-- .c-tools-card__bottom {
    align-items: baseline;
    justify-content: space-between;
    margin-top: 24px;
  }
  .c-tools-card__bottom--link {
    white-space: unset;
  }
  .p-contents-detail__wrapper {
    padding: unset;
  }
  .c-contents-detail {
    padding: 48px 103px;
    margin-top: 44px;
  }
  .c-contents-detail__data-container {
    align-items: center;
  }
  .c-contents-detail__category-inner {
    gap: unset;
    margin-top: 0;
  }
  .c-contents-detail__category-tag {
    margin-right: 16px;
  }
  .c-contents-detail__middle {
    margin-top: 8px;
  }
  .c-contents-detail__title {
    font-size: 30px;
  }
  .c-contents-detail__contents h2 {
    padding-top: 36px;
    padding-bottom: 16px;
    margin-bottom: 1rem;
    font-size: 22px;
  }
  .c-contents-detail__contents pre {
    padding: 46px;
  }
  .c-contents-detail__contents code {
    font-size: 85%;
  }
  .c-contents-detail__contents p {
    padding: 0.5rem;
    font-size: 18px;
    line-height: 1.5;
  }
  .c-faq-detail__subtitle-question-inner::after {
    font-size: 70px;
  }
  .c-faq-detail__subtitle-answer-inner::after {
    font-size: 70px;
  }
  .c-faq-detail__subtitle {
    font-size: 20px;
  }
  .c-faq-detail__title {
    font-size: 26px;
  }
  .c-faq-detail__answer {
    padding: 21px 27px;
  }
  .c-faq-detail__answer h2 {
    padding-top: 36px;
    padding-bottom: 16px;
    margin-bottom: 1rem;
    font-size: 22px;
  }
  .c-faq-detail__answer p {
    font-size: 24px;
    line-height: 1.2;
  }
  .c-category-tag {
    font-size: 14px;
  }
  .c-primary-button {
    font-size: 21px;
  }
  .c-primary-button--fill {
    padding: 20px 45px;
    font-size: 21px;
  }
  .c-copyright__text {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .p-contents-list__column:first-of-type {
    margin-top: 16px;
  }
  .p-contents-list__column {
    margin-top: 16px;
  }
  .p-faq-request {
    padding-top: 130px;
    padding-bottom: 0;
  }
  .p-faq-request__wrapper {
    padding: 69px;
  }
  .p-faq-request__container {
    padding: 48px 103px;
  }
  .p-faq-request__title {
    font-size: 28px;
    font-size: 1.75rem;
  }
  .p-privacy-policy {
    margin-top: 0;
  }
  .p-privacy-policy h2 {
    font-size: 26px;
  }
  .p-privacy-policy p {
    font-size: 16px;
  }
  .p-formula__form-items {
    margin-top: 26px;
  }
  .p-formula__form-items:nth-child(2n+1) {
    margin-right: 36px;
    margin-bottom: 32px;
  }
  .p-tools-list__column:nth-child(2n+1):last-of-type {
    margin-right: 50%;
    margin-bottom: 32px;
  }
  .u-sm-newline::before {
    white-space: unset;
    content: "";
  }
  br {
    display: unset;
  }
}
