{% extends 'base.html' %}
{% load static %}
{% block title %}プライバシーポリシー{% endblock %}
{% block breadcrumb %}
<li class="l-breadcrumb__item">
  <a href="{% url 'index' %}" class="l-breadcrumb__link">HOME</a>
</li>
{% endblock %}
{% block page-title %}
<h1 class="c-page-title" data-english-title="PRIVACY POLICY">プライバシーポリシー</h1>
{% endblock %}
{% block page-subtitle %}
<span class="u-text-left">
株式会社爆発研究所（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
</span>{% endblock %}
{% block content %}
<article class="c-contents-detail no-shadow">
  <div class="c-contents-detail__wrapper">
        <div class="p-privacy-policy">
           {{ contents | safe }}
        </div>
  </div>
</article>
{% endblock %}
