{% load static %}
<section class="p-formula">
  <div class="p-formula__wrapper l-wrapper">
    <div class="p-formula__container l-container">
      <h2 class="c-section-title" data-english-title="FORMULA">計算式</h2>
      <p class="c-section-title__subtext"></p>
      <form class="c-request-form" id="request_form">
        <div class="p-request-form__message-inner" id="message_area">
          <p class="p-formula-form__message_error" id="error_message"></p>
        </div>
        <div class="p-formula-form__inner l-flex">
          {% for parameter in parameter_list%}
            <div class="p-formula-form__items">
            <label class="c-request-form__text">{{ parameter.name }}</label>
            <input
                    type="text"
                    class="c-request-form__input"
                    id="{{ parameter.key_name }}"
                    name="{{ parameter.key_name }}"
                    placeholder="{{ parameter.placeholder}}"
                    {% if  parameter.required%}
                    required="required"
                    {% endif %}
            />
          </div>
          {% endfor %}
          <div class="p-formula-form__submit">
            <button type="button" onclick="calculationExec()" class="c-primary-button--fill">
              計算結果を見る
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>