{% load static %}
<section class="p-tools-list">
    <div class="p-tools-list__wrapper l-wrapper">
        <div class="p-tools-list__container l-container">
            <h2 class="c-section-title" data-english-title="TOOLS">ツール一覧</h2>
            <p class="c-section-title__subtext">　</p>
            <div class="p-tools-list__wrapper">
                <div class="p-tools-list__column">
                    <article class="c-tools-card">
                        <div class="c-tools-card__top">
                            <h3 class="c-tools-card__title">
                                <a href="" class="c-tools-card__title-link">
                                    爆発電卓
                                </a>
                            </h3>
                            <div class="c-tools-card__help">
                                <a href="" class="c-tools-card__help-link">
                                    使い方
                                </a>
                            </div>
                        </div>
                        <div class="c-tools-card__middle">
                            <p class="c-tools-card__text">
                                爆発時の風圧をシミュレーションできるツールです。
                            </p>
                        </div>
                        <div class="c-tools-card__bottom">
                            <a href="" class="c-tools-card__bottom--link">
                                使ってみる
                            </a>
                        </div>
                    </article>
                </div>
                <div class="p-tools-list__column">
                    <article class="c-tools-card">
                        <div class="c-tools-card__top">
                            <h3 class="c-tools-card__title">
                                <a href="" class="c-tools-card__title-link">
                                    爆発電卓
                                </a>
                            </h3>
                            <div class="c-tools-card__help">
                                <a href="" class="c-tools-card__help-link">
                                    使い方
                                </a>
                            </div>
                        </div>
                        <div class="c-tools-card__middle">
                            <p class="c-tools-card__text">
                                爆発時の風圧をシミュレーションできるツールです。
                            </p>
                        </div>
                        <div class="c-tools-card__bottom">
                            <a href="" class="c-tools-card__bottom--link">
                                使ってみる
                            </a>
                        </div>
                    </article>
                </div>
                <div class="p-tools-list__column">
                    <article class="c-tools-card">
                        <div class="c-tools-card__top">
                            <h3 class="c-tools-card__title">
                                <a href="" class="c-tools-card__title-link">
                                    爆発電卓
                                </a>
                            </h3>
                            <div class="c-tools-card__help">
                                <a href="" class="c-tools-card__help-link">
                                    使い方
                                </a>
                            </div>
                        </div>
                        <div class="c-tools-card__middle">
                            <p class="c-tools-card__text">
                                爆発時の風圧をシミュレーションできるツールです。
                            </p>
                        </div>
                        <div class="c-tools-card__bottom">
                            <a href="" class="c-tools-card__bottom--link">
                                使ってみる
                            </a>
                        </div>
                    </article>
                </div>
                <div class="p-tools-list__column">
                    <article class="c-tools-card">
                        <div class="c-tools-card__top">
                            <h3 class="c-tools-card__title">
                                <a href="" class="c-tools-card__title-link">
                                    爆発電卓
                                </a>
                            </h3>
                            <div class="c-tools-card__help">
                                <a href="" class="c-tools-card__help-link">
                                    使い方
                                </a>
                            </div>
                        </div>
                        <div class="c-tools-card__middle">
                            <p class="c-tools-card__text">
                                爆発時の風圧をシミュレーションできるツールです。
                            </p>
                        </div>
                        <div class="c-tools-card__bottom">
                            <a href="" class="c-tools-card__bottom--link">
                                使ってみる
                            </a>
                        </div>
                    </article>
                </div>
                <div class="p-tools-list__column">
                    <article class="c-tools-card">
                        <div class="c-tools-card__top">
                            <h3 class="c-tools-card__title">
                                <a href="" class="c-tools-card__title-link">
                                    爆発電卓
                                </a>
                            </h3>
                            <div class="c-tools-card__help">
                                <a href="" class="c-tools-card__help-link">
                                    使い方
                                </a>
                            </div>
                        </div>
                        <div class="c-tools-card__middle">
                            <p class="c-tools-card__text">
                                爆発時の風圧をシミュレーションできるツールです。
                            </p>
                        </div>
                        <div class="c-tools-card__bottom">
                            <a href="" class="c-tools-card__bottom--link">
                                使ってみる
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
