@use '../../../global/' as var;

.p-formula-form {
  padding: 56px 0;
  margin-top: 56px;
  overflow: hidden;
  background: var.$bg-secondary-color;

  // &__wrapper {}

  &__container {
    padding-top: 35px;
    padding-bottom: 10px;
  }

  // &__message_inner{}

  &__message_error {
    line-height: 24px;
    color: red;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  &__items {
    align-self: baseline;
    width: 472px;
    margin-top: 20px;
    cursor: none;

    @include var.mq(lg) {
      margin-top: 26px;
    }

    &:nth-child(2n+1) {
      @include var.mq(lg) {
        margin-right: 36px;
        margin-bottom: 32px;
      }
    }
  }

  &__submit {
    margin-top: 50px;
  }
}
