{% load static %}
<section class="p-pickup-faq">
    <div class="p-pickup-faq__wrapper l-wrapper">
        <h2 class="c-section-title" data-english-title="PICKUP FAQ">
            コンテンツ一覧
        </h2>
        <p class="c-section-title__subtext">
            テキストが入ります。テキストが入ります。テキストが入ります。
        </p>
        <div class="p-pickup-faq__background">
            <div class="p-pickup-faq__container">
                {% for object in object_list %}
                <div class="p-pickup-faq__column">
                    <article class="c-contents-card">
                        <div class="c-contents-card__top">
                            <div class="c-contents-card__infomation-inner">
                                <span class="c-category-tag">Tutorial</span>
                                <span class="c-contents-card__rank">会員種別：テキスト？</span>
                                <time datetime="" class="c-contents-card__date">2022/05/06</time>
                            </div>
                            <h3 class="c-contents-card__title">
                                <a href="http://localhost:8000/contents/{{object.id}}/article/"
                                   class="c-contents-card__title-link">
                                    {{ object.title }}
                                </a>
                            </h3>
                        </div>
                        <div class="c-contents-card__middle">
                            {% for tags in object.tags.all %}
                            <span class="c-contents-card__category-tag">#{{ tags.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="c-contents-card__bottom">
                            <div class="c-contents-card__like-container">
                                <span class="c-contents-card__like-number">{{ object.good_count }}</span>
                                <span class="c-contents-card__like-text">参考になった</span>
                                <button class="c-contents-card__like">
                                    <img src="{% static '/assets/images/good.svg' %}" alt=""/>
                                </button>
                            </div>
                            <a href="" class="c-contents-card__link">回答を読む</a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
