{% load static %}

<section class="p-contents-comments">
	<div class="p-contents-comments__wrapper l-wrapper">
		<div class="p-contents-comments__title-inner">
			<h2 class="p-contents-comments__title" data-english-title="COMMENTS">コメント</h2>
		</div>
		<div class="p-contents-comments__container">
			<div class="p-contents-comments__columns">
				<div class="c-comments-card">
					<div class="c-comments-card__top">
						<picture class="c-comments-card__icon-inner">
							<img class="c-comments-card__icon" src="{% static '/assets/images/user-icon.svg' %}" alt="">
						</picture>
						<p class="c-comments-card__name">user_name</p>
						<time class="c-comments-card__date"datetime="2022-05-06">2022/05/06</time>
					</div>
					<div class="c-comments-card__middle">
						<p class="c-commets-card__contents">記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。</p>
					</div>
					<div class="c-comments-card__bottom">
						<a href="" class="c-comments-card__link">回答をみる</a>
					</div>
				</div>
			</div>
		</div>
		<div class="p-contents-comments__columns">
				<div class="c-comments-card">
					<div class="c-comments-card__top">
						<picture class="c-comments-card__icon-inner">
							<img class="c-comments-card__icon" src="{% static '/assets/images/user-icon.svg' %}" alt="">
						</picture>
						<p class="c-comments-card__name">user_name</p>
						<time class="c-comments-card__date"datetime="2022-05-06">2022/05/06</time>
					</div>
					<div class="c-comments-card__middle">
						<p class="c-commets-card__contents">記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。</p>
					</div>
					<div class="c-comments-card__bottom">
						<a href="" class="c-comments-card__link">回答をみる</a>
					</div>
				</div>
			</div>
			<div class="p-contents-comments__columns">
				<div class="c-comments-card">
					<div class="c-comments-card__top">
						<picture class="c-comments-card__icon-inner">
							<img class="c-comments-card__icon" src="{% static '/assets/images/user-icon.svg' %}" alt="">
						</picture>
						<p class="c-comments-card__name">user_name</p>
						<time class="c-comments-card__date"datetime="2022-05-06">2022/05/06</time>
					</div>
					<div class="c-comments-card__middle">
						<p class="c-commets-card__contents">記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。</p>
					</div>
					<div class="c-comments-card__bottom">
						<a href="" class="c-comments-card__link">回答をみる</a>
					</div>
				</div>
			</div>
			<div class="p-contents-comments__columns">
				<div class="c-comments-card">
					<div class="c-comments-card__top">
						<picture class="c-comments-card__icon-inner">
							<img class="c-comments-card__icon" src="{% static '/assets/images/official-icon.svg' %}" alt="">
						</picture>
						<p class="c-comments-card__name">回答者（爆発研究所  渡邉）</p>
						<time class="c-comments-card__date"datetime="2022-05-06">2022/05/06</time>
					</div>
					<div class="c-comments-card__middle">
						<p class="c-commets-card__contents">記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。</p>
					</div>
					<div class="c-comments-card__bottom">
						<a href="" class="c-comments-card__link">回答をみる</a>
					</div>
				</div>
			</div>
	</div>
</section>
