// object/utility/_index.scss

@forward 'newline';
@forward 'screen-reader-text';

.mt-1 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-auto {
  margin-left: auto;
}

.u-text-left {
  display: block;
  text-align: left;
}
